{% extends "base.html" %} {% block content %}

<section >
  
    <div class="profile-info">
      <h1>Bienvenido, {{ username }}</h1>
      <p><strong>Nombre:</strong> {{ first_name }} {{ last_name }}</p>
      <p><strong>Email:</strong> {{ email }}</p>
      <p><strong>Teléfono:</strong> {{ phone }}</p>
    </div>
    <div class="divider"></div>
    <div class="profile-buttons">
      <button class="button">Actualizar</button>
      <button class="button">Cerrar Sesión</button>
    </div>

</section>

{% endblock content %}
