{% extends "base.html" %}



{% block content %}

<section>
    <div class="profile-section">
        <div class="profile-info">
            <img class="profile-image" src="ruta/a/la/imagen.jpg" alt="Imagen de Perfil">
            <div class="profile-details">
                <p><strong>Nombre de Usuario:</strong> NombreUsuario123</p>
            </div>
        </div>
       
        <div class="profile-buttons">
            <button class="button">Actualizar</button>
            <button class="button">Cerrar Sesión</button>
        </div>
    </div>
    <div class="divider"></div>
    <div class="profile-details">
        <p><strong>Nombre:</strong> Nombre del Usuario</p>
        <p><strong>Email:</strong> correo@ejemplo.com</p>
        <p><strong>Teléfono:</strong> 123-456-7890</p>
    </div>
</section>


    
{% endblock content %}


    