{% extends "base.html" %} {% block content %}
<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>

<form method="post" action="{% url 'signup' %}">
  <h1>Registrarse</h1>

  {% csrf_token %}

  <div class="inputBox">
    <span class="fas fa-user"></span>
    <input type="text" require name="first_name" placeholder="Nombres" />
  </div>

  <div class="inputBox">
    <span class="fas fa-user"></span>
    <input type="text" required name="last_name" placeholder="Apellidos" />
  </div>

  <div class="inputBox">
    <span class="fas fa-envelope"></span>
    <input type="email" required name="email" placeholder="email" />
  </div>

  <div class="inputBox">
    <span class="fa-solid fa-phone"></span>
    <input type="text" required name="phone" placeholder="Celuar" />
  </div>

  <div class="inputBox">
    <span class="fas fa-user"></span>
    <input type="text" required name="username" placeholder="Nombre de usuario" />
  </div>

  <div class="inputBox">
    <span class="fas fa-key"></span>
    <input type="password" required name="password1" id="password-up1" placeholder="Contraseña"     />

    <span id="show-pass-up1" class="fas fa-eye" onclick="signupPass();"></span>
    <span id="hide-pass-up1" class="fas fa-low-vision" onclick="signupPass();"></span>
  </div>

  <div class="inputBox">
    <span class="fas fa-key"></span>
    <input type="password" required name="password2" id="password-up2" placeholder="Confirmar Contraseña"     />

    <span id="show-pass-up2" class="fas fa-eye" onclick="signupComfirmPass();"></span>
    <span id="hide-pass-up2" class="fas fa-low-vision" onclick="signupComfirmPass();"></span>
  </div>

  <button type="submit" class="btn">Registrarse</button>

  <div class="signip-link">
    <p>Ya tiene una cuenta?</p>
    <a href="{% url 'signin' %}">Iniciar Sesion</a>
  </div>
</form>

{% endblock content %}
