<header class="header">
  <a href="" class="logo">CiberWiseBar</a>
  <input type="checkbox" id="check" />
  <label for="check" class="icons">
    <i class="bx bx-menu" id="menu-icon"></i>
    <i class="bx bx-x" id="close-icon"></i>
  </label>

  <nav class="navbar">
    <div class="nav_list">
      <a href="{% url 'home' %}" style="--1:0">Inicio</a>
    <a href="" style="--1:1">Cursos</a>
    <a href="" style="--1:2">Recursos</a>
    <a href="" style="--1:3">blog</a>
    <a href="{% url 'signin' %}">Iniciar session</a>
    </div>
  </nav>
</header>
