/* Estilos para la sección */
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  /* Estilos para el contenedor de información del perfil */
  .profile-info {
    flex: 1;
  }
  
  /* Estilos para el título de bienvenida */
  .profile-info h1 {
    font-size: 24px;
    color: #333;
  }
  
  /* Estilos para los detalles del perfil */
  .profile-info p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
  }
  
  /* Estilos para el separador */
  .divider {
    width: 2px;
    height: 100px;
    background-color: #ccc;
    margin: 0 20px;
  }
  
  /* Estilos para el contenedor de botones */
  .profile-buttons {
    display: flex;
    flex-direction: column;
  }
  
  /* Estilos para los botones */
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px 0;
  }
  
  /* Estilos para los botones cuando se les pasa el mouse */
  .button:hover {
    background-color: #0056b3;
  }
  